<md-content>
    <div layout="row" layout-align="center center">
        <md-button class="md-raised md-primary" ng-click="vm.showNewDialog($event)">New List</md-button>
    </div>
    <div layout="column" ng-repeat="list in vm.lists">
        <h3 class="md-title">{{list.title}}</h3>
        <div layout="column" data-as-sortable ng-model="list.items">
            <md-card ng-repeat="item in list.items" data-as-sortable-item>
                <md-button class="md-fab md-mini" aria-label="FAB" style="position: absolute;">
                    {{$index + 1}}
                </md-button>
                <md-card-title>
                    <md-card-title-media>
                        <div class="card-media"><img ng-src="{{vm.imageUrl + item.poster_path}}" alt="" data-as-sortable-item-handle /></div>
                    </md-card-title-media>
                    <md-card-title-text style="margin-left: 10px;">
                        <span class="md-headline">{{item.name}}</span>
                        <span class="md-subhead">{{vm.getYear(item.first_air_date)}}</span>
                        <p>{{item.overview}}</p>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
        <md-autocomplete md-selected-item="list.selectedItem" md-selected-item-change="vm.addToList(list)" md-search-text="list.searchText" md-items="item in vm.getMatches(list.searchText, list)" md-item-text="item.name" md-min-length="2" md-no-cache="true">
            <span md-highlight-text="list.searchText">{{item.name}}</span>
            <!-- <md-item-template>
                    <img ng-src="{{vm.thumbUrl + item.poster_path}}" alt="">
                    <span>{{item.name}}</span>
                </md-item-template> -->
        </md-autocomplete>
    </div>
</md-content>
